<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                      <a href="https://bambil.github.io"><img src="https://github.com/Bambil.png" width="50px" alt="Bambil"></a>
                    </li>
                    <li>
                      <a href="https://nahalco.github.io"><img src="https://github.com/Nahalco.png" width="50px" alt="Nahalco"></a>
                    </li>
                </ul>
                <p class="copyright text-muted"> Copyright &copy; Bambil {{ site.time | date: '%Y' }}. </p>
            </div>
        </div>
    </div>
</footer>

